<button md-fab color="primary" *ngIf="!showInputForm && !showEditForm" (click)="showInputForm = !showInputForm">
    <md-icon class="md-24">add</md-icon>
</button>
<form *ngIf="showInputForm" [formGroup]="addInputForm" (ngSubmit)="addInput();">
	<md-input placeholder="const or let *" formControlName="const" ></md-input>
	<md-input placeholder="Variable name *" formControlName="varName" ></md-input>
	<md-input placeholder="Value" formControlName="val" ></md-input>
	<button md-fab type="submit">
	    <md-icon class="md-24">add</md-icon>
	</button>
</form>

<button md-fab color="primary" *ngIf="!showEditForm && !showInputForm" (click)="showEditForm = !showInputForm">
    <md-icon class="md-24">edit</md-icon>
</button>
<form *ngIf="showEditForm" [formGroup]="addEditForm" (ngSubmit)="editInput()">
	<md-input placeholder="Variable name *" formControlName="varName" ></md-input>
	<md-input placeholder="Value *" formControlName="val" ></md-input>
	<button md-fab type="submit">
	    <md-icon class="md-24">edit</md-icon>
	</button>
</form>

<button md-fab color="primary" *ngIf="!showEditForm && !showInputForm && !runningFactorial" (click)="runFactorial()">
    <md-icon class="md-24">code</md-icon>
</button>
<button md-fab color="primary" *ngIf="runningFactorial" (click)="runFactorial()">
    <md-icon class="md-24">input</md-icon>
</button>
<input-list></input-list>