<div id="bytes"><!-- 
<div id="bytes-box"> -->
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div>
	</div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
	<div class="byte">
		<div class="byte-label"></div>
		<div class="byte-content"></div></div>
<!-- </div>
 --></div>